.about {
  padding-top: 20px;
  padding-bottom: 50px;
}
.about .title {
  font-size: 36px;
  font-weight: bold;
  text-transform: uppercase;
  padding-bottom: 27px;
  display: inline-block;
}
@media (max-width: 991px) {
  .about .descr {
    margin-bottom: 30px;
  }
}
.about .news {
  border-left: 5px solid #0D2DCA;
  box-shadow: 2px 3px 5px 1px rgba(0, 0, 0, 0.17);
  padding: 15px;
  margin-bottom: 50px;
}
.about .news:last-child {
  margin-bottom: 0;
}
.about .news .top {
  display: flex;
}
.about .news .news-title {
  padding-left: 10px;
}
.about .news .news-title a {
  color: #000;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  display: inline-block;
}
.about .news .news-title a:hover {
  text-decoration: none;
  color: #0D2DCA;
}
.about .news .date {
  color: #7c7c7c;
  font-size: 10px;
  padding-top: 3px;
}
.about .news .text {
  color: #838897;
  padding-top: 10px;
}
.about .news .text.text-2 {
  padding-top: 5px;
}
