@import "http://webfonts.ru/import/osanscondensed.css";
header {
  border-bottom: 1px solid rgba(13, 45, 202, 0.37);
  padding-bottom: 28px;
}
.navigation-bar {
  padding-top: 31px;
}
.navigation-bar li {
  list-style: none;
  display: inline-block;
  padding-right: 25px;
  vertical-align: middle;
}
.navigation-bar li:last-child {
  padding-right: 0;
}
.navigation-bar ul {
  margin-bottom: 0;
  padding-left: 0;
}
.navigation-bar .navig_wrapper {
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-align-items: center;
  align-items: center;
}
@media (max-width: 991px) {
  .navigation-bar .navig_wrapper {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
.navigation-bar .logo_navig {
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}
@media (max-width: 991px) {
  .navigation-bar .logo_navig {
    margin-bottom: 20px;
  }
}
@media (max-width: 600px) {
  .navigation-bar .logo_navig {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
.navigation-bar .logo {
  display: inline-block;
  margin-right: 55px;
}
@media (max-width: 600px) {
  .navigation-bar .logo {
    margin-right: 0;
    margin-bottom: 10px;
  }
}
.navigation-bar .navigation-links {
  display: inline-block;
}
@media (min-width: 992px) {
  .navigation-bar .navigation-links {
    max-width: 350px;
  }
}
@media (max-width: 600px) {
  .navigation-bar .navigation-links {
    text-align: center;
  }
}
.navigation-bar .navigation-links a {
  color: #000;
  text-decoration: none;
}
.navigation-bar .navigation-links a:hover {
  color: #4f5dab;
}
@media (max-width: 400px) {
  .navigation-bar .navigation-links ul {
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    align-items: center;
  }
  .navigation-bar .navigation-links ul li {
    padding-right: 0;
    margin-bottom: 5px;
  }
}
.navigation-bar .callback {
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}
@media (max-width: 400px) {
  .navigation-bar .callback {
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}
.navigation-bar .callback .phone-pic,
.navigation-bar .callback .phone-number,
.navigation-bar .callback .nav-button-callback {
  display: inline-block;
  vertical-align: middle;
}
.navigation-bar .callback .phone-pic {
  margin-right: 47px;
}
@media (max-width: 400px) {
  .navigation-bar .callback .phone-pic {
    margin-right: 0;
    margin-bottom: 10px;
  }
}
.navigation-bar .callback .phone-number {
  margin-right: 47px;
}
@media (max-width: 400px) {
  .navigation-bar .callback .phone-number {
    margin-right: 0;
    margin-bottom: 10px;
  }
}
.navigation-bar .callback .phone-number a {
  font-size: 17px;
  color: #000;
}
.navigation-bar .callback .phone-number a:hover {
  text-decoration: none;
  color: #4f5dab;
}
@media (max-width: 400px) {
  .navigation-bar .callback .nav-button-callback {
    width: 100%;
    max-width: 115px;
  }
  .navigation-bar .callback .nav-button-callback--item {
    width: 100% !important;
  }
}
.navigation-bar .callback .nav-button-callback .nav-button-callback--item {
  background: #0D2DCA;
  color: #fff;
  font-size: 14px;
  text-align: center;
  width: 130px;
  padding-top: 10px;
  padding-bottom: 6px;
  border-bottom: 4px solid #1029A6;
  display: block;
  text-decoration: none;
}
.navigation-bar .callback .nav-button-callback .nav-button-callback--item:hover {
  background: #0E31E2;
}
.slide_button {
  color: #0D2DCA;
  background-color: #fff;
  padding: 10px 15px;
  border: rgba(13, 45, 202, 0.37) 1px solid;
  border-top: none;
  display: none;
  text-align: center;
  width: 100px;
  position: absolute;
  bottom: -43px;
  left: 50%;
  margin-left: -50px;
  z-index: 10;
  -webkit-border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  border-bottom-left-radius: 5px;
  cursor: pointer;
}
.slide_button:hover {
  box-shadow: 2px 3px 5px 1px rgba(0, 0, 0, 0.17);
}
@media (max-width: 991px) {
  .slide_button {
    display: inline-block;
  }
}
.site-sections-bar-background {
  background: #0D2DCA;
  width: 100%;
}
@media (max-width: 991px) {
  .site-sections-bar-background {
    display: none;
  }
}
@media (max-width: 991px) {
  .site-sections-bar {
    padding-top: 50px;
  }
}
.sections-descr {
  color: #FFF;
  text-align: center;
  font-size: 13px;
  width: 80px;
  margin: 0 auto;
  padding-top: 14px;
  padding-bottom: 12px;
  line-height: 12px;
}
.sections-pic {
  text-align: center;
  padding-top: 12px;
}
.sections-item:hover {
  background: #1029A6;
}
.sections-item a {
  color: #FFF;
  text-decoration: none;
}
.sections-item a:hover {
  color: #23527c;
  text-decoration: underline;
}
.footer-backgr {
  background: #F2F2F2;
  padding-bottom: 30px;
}
.copyright {
  text-align: left;
  padding-top: 45px;
}
@media (max-width: 991px) {
  .copyright {
    text-align: center;
  }
}
.footer-navbar {
  margin-top: 45px;
}
@media (max-width: 991px) {
  .footer-navbar {
    text-align: center;
  }
}
.footer-navbar ul {
  padding-left: 0;
  list-style: none;
}
.footer-navbar ul li {
  display: inline-block;
  padding-right: 25px;
  margin-bottom: 5px;
}
.footer-navbar a {
  color: #000;
  text-decoration: underline;
}
.footer-navbar a:hover {
  color: #4f5dab;
}
.novasite-copyright {
  padding-top: 30px;
}
@media (max-width: 991px) {
  .novasite-copyright {
    text-align: center;
  }
}
.novasite-copyright-text {
  padding-top: 15px;
}
@media (max-width: 991px) {
  .novasite-copyright-text {
    margin-bottom: 10px;
    text-align: right;
  }
}
.novasite-copyright-text a {
  text-decoration: none;
  color: #333;
}
.novasite-copyright-text a:hover {
  color: #4f5dab;
}
@media (max-width: 991px) {
  .novasite-logo {
    text-align: left;
  }
}
.slider {
  padding: 20px 0;
}
@media (max-width: 991px) {
  .slider {
    padding-top: 70px;
  }
}
.slider .slider_contents .left-arrow {
  padding-right: 40px;
  padding-left: 25px;
}
.slider .slider_contents .left-arrow:hover {
  opacity: 0.5;
}
.slider .slider_contents .slider_pic {
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  height: 238px;
  width: 550px;
  margin-left: 70px;
}
@media (max-width: 991px) {
  .slider .slider_contents .slider_pic {
    width: 100%;
    margin-left: 0;
  }
}
.slider .slider_contents .request-for-leasing {
  border-left: 5px solid #0D2DCA;
  box-shadow: 2px 3px 5px 1px rgba(0, 0, 0, 0.17);
  position: absolute;
  top: 50%;
  margin-top: -39px;
  right: 90px;
}
@media (max-width: 991px) {
  .slider .slider_contents .request-for-leasing {
    top: 100%;
    margin-top: -78px;
    right: 0;
    background-color: #fff;
    opacity: 0.9;
    width: 100%;
  }
}
.slider .slider_contents .request-for-leasing a {
  display: block;
  padding: 15px;
}
.slider .slider_contents .request-for-leasing a:hover {
  text-decoration: none;
}
.slider .slider_contents .request-for-leasing a .title {
  color: #000;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
}
.slider .slider_contents .request-for-leasing a .text {
  color: #838897;
  padding-top: 10px;
  white-space: nowrap;
}
.slider .slider_contents .right-arrow {
  padding-left: 40px;
  padding-right: 25px;
}
.slider .slider_contents .right-arrow:hover {
  opacity: 0.5;
}
.fotorama__arr--prev {
  background-image: url(/image/arr-left.png) !important;
  width: 15px !important;
  height: 80px !important;
  margin-top: -40px !important;
  margin-left: 20px;
  opacity: 1 !important;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 2dppx) {
  .fotorama__arr--prev {
    background-image: url(/image/arr-left.png) !important;
    background-size: 100% !important;
  }
}
.fotorama__arr--next {
  background-image: url(/image/arr-right.png) !important;
  width: 15px !important;
  height: 80px !important;
  margin-top: -40px !important;
  background-position: 0 !important;
  margin-right: 20px;
  opacity: 1 !important;
}
@media (-webkit-min-device-pixel-ratio: 1.5), (min-resolution: 2dppx) {
  .fotorama__arr--next {
    background-image: url(/image/arr-right.png) !important;
    background-size: 100% !important;
  }
}
.advantages {
  background: #F2F2F2;
  padding-bottom: 20px;
}
.advantages .advantages_title {
  line-height: 1.1;
  font-size: 36px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 20px 0 27px 0;
  text-align: center;
}
.advantages .plate {
  margin-bottom: 17px;
  box-shadow: 2px 3px 5px 1px rgba(0, 0, 0, 0.17);
  background: #fff;
  cursor: pointer;
  padding: 20px;
  text-align: center;
}
.advantages .plate .title {
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
}
.advantages .plate .plate-img {
  width: 47px;
  height: 41px;
  background-image: url(/image/advantages_sprite.png);
  margin: 0 auto 17px;
  transition: 0.1s linear all;
  z-index: 1;
}
.advantages .plate .plate-img.img1 {
  background-position: 0 0;
}
.advantages .plate .plate-img.img2 {
  background-position: 47px 0;
}
.advantages .plate .plate-img.img3 {
  background-position: 94px 0;
}
.advantages .plate .plate-img.img4 {
  background-position: 141px 0;
}
.advantages .plate .plate-img.img5 {
  background-position: 188px 0;
}
.advantages .plate .plate-img.img6 {
  background-position: 235px 0;
}
.advantages .plate:hover {
  box-shadow: 6px 7px 5px 1px rgba(0, 0, 0, 0.05);
  background: #FAFAFA;
  transition: 0.1s linear all;
}
.advantages .plate:hover .img1 {
  background-position: 0 -41px;
}
.advantages .plate:hover .img2 {
  background-position: 47px -41px;
}
.advantages .plate:hover .img3 {
  background-position: 94px -41px;
}
.advantages .plate:hover .img4 {
  background-position: 141px -41px;
}
.advantages .plate:hover .img5 {
  background-position: 188px -41px;
}
.advantages .plate:hover .img6 {
  background-position: 235px -41px;
}
.advantages .plate.active {
  box-shadow: 6px 7px 5px 1px rgba(0, 0, 0, 0.05);
  background: #FAFAFA;
  transition: 0.1s linear all;
}
.advantages .plate.active .plate-img.img1 {
  background-position: 0 0;
}
.advantages .plate.active .plate-img.img1.active {
  background-position: 0 -41px;
}
.advantages .plate.active .plate-img.img2 {
  background-position: 47px 0;
}
.advantages .plate.active .plate-img.img2.active {
  background-position: 47px -41px;
}
.advantages .plate.active .plate-img.img3 {
  background-position: 94px 0;
}
.advantages .plate.active .plate-img.img3.active {
  background-position: 94px -41px;
}
.advantages .plate.active .plate-img.img4 {
  background-position: 141px 0;
}
.advantages .plate.active .plate-img.img4.active {
  background-position: 141px -41px;
}
.advantages .plate.active .plate-img.img5 {
  background-position: 188px 0;
}
.advantages .plate.active .plate-img.img5.active {
  background-position: 188px -41px;
}
.advantages .plate.active .plate-img.img6 {
  background-position: 235px 0;
}
.advantages .plate.active .plate-img.img6.active {
  background-position: 235px -41px;
}
.advantages .advantages_popup {
  padding: 20px;
  border: 3px solid #7588E1;
  position: absolute;
  top: 130px;
  left: 50%;
  margin-left: -100px;
  z-index: 2;
  background-color: #fff;
  width: 200px;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -ms-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
.advantages .advantages_popup img {
  position: absolute;
  top: -18px;
  left: 50%;
  margin-left: -20px;
}
.advantages .advantages_popup.active {
  opacity: 1;
  visibility: visible;
  top: 115px;
}
.advantages .clearfix {
  z-index: -1;
}
.about {
  padding-top: 20px;
  padding-bottom: 50px;
}
.about .title {
  font-size: 36px;
  font-weight: bold;
  text-transform: uppercase;
  padding-bottom: 27px;
  display: inline-block;
}
@media (max-width: 991px) {
  .about .descr {
    margin-bottom: 30px;
  }
}
.about .news {
  border-left: 5px solid #0D2DCA;
  box-shadow: 2px 3px 5px 1px rgba(0, 0, 0, 0.17);
  padding: 15px;
  margin-bottom: 50px;
}
.about .news:last-child {
  margin-bottom: 0;
}
.about .news .top {
  display: flex;
}
.about .news .news-title {
  padding-left: 10px;
}
.about .news .news-title a {
  color: #000;
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
  display: inline-block;
}
.about .news .news-title a:hover {
  text-decoration: none;
  color: #0D2DCA;
}
.about .news .date {
  color: #7c7c7c;
  font-size: 10px;
  padding-top: 3px;
}
.about .news .text {
  color: #838897;
  padding-top: 10px;
}
.about .news .text.text-2 {
  padding-top: 5px;
}
.order_call_popup {
  visibility: hidden;
  position: fixed;
  -webkit-transition: -webkit-transform 0.5s ease-out;
  -o-transition: -o-transform 0.5s ease-out;
  transition: transform 0.5s ease-out;
  -webkit-transform: translate(0, -25%);
  -ms-transform: translate(0, -25%);
  -o-transform: translate(0, -25%);
  transform: translate(0, -25%);
}
.order_call_popup.active {
  visibility: visible;
  z-index: 11;
  display: inline-block;
  width: 300px;
  position: fixed;
  top: 50px;
  left: 50%;
  margin-left: -150px;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
}
@media (max-width: 350px) {
  .order_call_popup.active {
    width: 250px;
    margin-left: -125px;
  }
}
.order_call_popup .title {
  font-size: 18px;
  font-weight: 500;
  font-style: normal;
  color: #333333;
  padding: 15px;
  border-bottom: 1px solid #e5e5e5;
}
.order_call_popup .input_group {
  margin: 15px;
}
.order_call_popup .input_group label {
  display: block;
  font-size: 15px;
  font-weight: bold;
}
.order_call_popup .input_group input {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}
.order_call_popup .input_group input:focus {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}
.order_call_popup .input_group.submit {
  text-align: center;
}
.order_call_popup .input_group.submit input[type=submit] {
  color: #FFF;
  background-color: #5cb85c;
  border-color: #4cae4c;
  display: inline-block;
  padding: 6px 12px;
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  touch-action: manipulation;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 4px;
  width: auto;
}
.order_call_popup .input_group.submit input[type=submit]:hover,
.order_call_popup .input_group.submit input[type=submit]:active,
.order_call_popup .input_group.submit input[type=submit]:focus {
  background-color: #449d44;
  border-color: #398439;
}
.order_call_popup .closing-cross {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 15px;
  right: 15px;
  cursor: pointer;
}
.order_call_popup .closing-cross:hover .line,
.order_call_popup .closing-cross:active .line,
.order_call_popup .closing-cross:focus .line {
  opacity: 1;
}
.order_call_popup .closing-cross .left {
  left: 10px;
  top: 0px;
  width: 1px;
  height: 15px;
  background-color: #000;
  opacity: 0.5;
  position: absolute;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  cursor: pointer;
}
.order_call_popup .closing-cross .right {
  left: 10px;
  top: 0px;
  width: 1px;
  height: 15px;
  background-color: #000;
  opacity: 0.5;
  position: absolute;
  -webkit-transform: rotate(315deg);
  -moz-transform: rotate(315deg);
  -ms-transform: rotate(315deg);
  -o-transform: rotate(315deg);
  transform: rotate(315deg);
  cursor: pointer;
}
.opacity-substrate {
  position: fixed;
  opacity: 0;
}
.opacity-substrate.active {
  position: fixed;
  z-index: 10;
  background: #000;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0.5;
  -webkit-transition: opacity 0.3s ease-out;
  -o-transition: opacity 0.3s ease-out;
  transition: opacity 0.3s ease-out;
}
body {
  font-family: 'Open Sans Condensed';
  color: #333;
  font-size: 15px;
}
* {
  position: relative;
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
